body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #f7c0da, #f7c2d1);
  padding: 10px;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background: #fefefe;
  margin: 100px auto 20px;
  padding: 40px 40px 70px;
  border-radius: 40px; 
}

.todo-app h2 {
  margin-left: 93px;
  color: #f7c2d1;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-app h2 img {
  width: 40px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #f7c2d1;
  color: #fffcfc;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
}
button:hover {
  opacity: 0.7;
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 11px 9px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: url(https://media.discordapp.net/attachments/1038619816396865648/1171655452933771274/hiw.png?ex=655d782c&is=654b032c&hm=06cc2976cf6407babfef782d3d69f2082a81f092aa2cc68019b5954bd74af0ad&=&width=156&height=156) center/cover;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: #f7c2d1;
  text-decoration: line-through;
}

ul li.checked::before {
  background: url(./checkmark.png) center/cover;
  border-radius: 2px;
  
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #b08c8c;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover {
  background: #edeef0;
}
